.wrapper {
    width: 100%;
    height: 70%;
    background-color: #d996ea8a;
    border: 2px solid black;
    border-radius: 5%;
    font-size: 120px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

.span__error {
    font-size: 25px;
    font-weight: bold;
    color:#c93f3fab;
    position: absolute;
    top: 0;
    left: 0;
}

.text__span {
    font-size: 20px;
    color: black;
    font-weight: 900;
}
